@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffffff;
    color: #2e343b;
    display: flex;
    justify-content: flex-end;
}

nav {
    margin-top: 10px;
    height: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

nav input[type="button"] {
    margin-right: 2em;
}

nav a {
    text-decoration: none;
    color: #2e343b;
    padding: 3em;
}
nav a:hover {
    text-decoration: underline;
}
nav a:nth-child(-n + 3) {
    margin-right: auto;
}

.logo {
    width: 15%;
    margin-right: auto;
}

body {
    font-family: "Playfair Display", serif;
    min-height: 100vh;
    background-color: #ffffff;
    color: #2e343b;
}
input[type="button"], 
input[type="submit"] {
    
    background-color: #ff984f;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
input[type="button"]:hover, input[type="submit"]:hover {
    background-color: #FF6B00;
    color: #FFFFFF;
}

.f1 fieldset {
    padding: 0 2%;
    min-height: 20rem;
    background-color: #005A8E;
    color: #f2f2f2;
    margin: 2rem 5%;
    border: none;
    border-radius: 10px;
    padding: .5rem 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.f1 label {
    display: block;
    margin: 1rem 0;
}

.f1 input[type="text"],
.f1 input[type="email"],
.f1 textarea,
.f1 input[type="password"]
{
    background-color: white;
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}

.f1 input[type="submit"] {
    border: none;
    background-color: #ff984f;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 1rem;
    padding: 1rem 1.5rem;
    margin-top: 1rem;
    width: 100%;
    cursor: pointer;
    max-width: 400px;
}

.f1 input[type="submit"]:hover {
    background-color: #FF6B00;
    color: #e3e3e3;
}


footer {
    background-color: #f2f2f2;
    color: #2e343b;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

footer > div {
    flex: 1;
}

footer > div:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer > div:first-child a {
    margin: 10px 0;
    text-decoration: none;
    color: #2e343b;
}

#center {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#center p {
    margin: 5px 0;
}

#center img {
    width: 60%;
}

.social {
    text-align: center;
}

.social h3 {
    margin-bottom: 10px;
}

.social a {
    margin: 10px 0;
    display: block;
}

.social img {
    width: 30px;
    height: 30px;
}

#links {
    text-decoration: none;
    color: #2e343b;
}

#thanks {
    background-color: #005A8E;
    color: #f2f2f2;
    padding: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 5em;
}
#thanks h1,
#thanks p{
    margin: .2em;
}

#thanks input[type="button"] {
    margin-top: 1em;
}

.tenor-gif-embed {
    max-width: 400px;
}